protocols {
    replace: ldp {
        track-igp-metric;
{%for iface in interfaces%}
        interface {{iface.name}};
{%endfor%}
        interface lo0.0
    }
}
    replace: mpls {
{%for iface in interfaces%}
        interface {{iface.name}};
{%endfor%}
    }
}
