interfaces {
    lo0 {
        replace: unit 0 {
            family inet {
                address {{router_id}}/32
            }
            family iso {
                address {{router_iso}}
            }
        }
    }
{%for iface in interfaces%}
    replace: {{iface.name}} {
        description "{%filter upper%}{{hostname}}-{{iface.peer}}{%endfilter%}""
        unit 0 {
            family inet {
                address {{iface.ip_address}}/31;
        }
        family iso;
        family mpls;
        }
    }
        {%if iface.members is defined%}
            {%for member in iface.members%}
    replace: {{ member }} {
        description "AGGR:{%filter upper%}{{iface.name}} {{hostname}}-{{iface.peer}}{%endfilter%}"
        ether-options {
            802.3ad {{ iface.name }};
        }
    }
            {%endfor%}
        {%endif%}
{%endfor%}
}

