protocols {
    replace: lldp {
{%for iface in interfaces%}
    {%if 'ae' not in iface.name%}
        interface {{iface.name}};
    {%elif iface.members is defined%}
        {%for member in iface.members%}
        interface {{member}};
        {%endfor%}
    {%endif%}
{%endfor%}
    }
}

